.star-container {
    background-color: black; /* Set background to black for better visibility of stars */
    overflow: hidden; /* Prevent overflow of stars */
    position: relative; /* Positioning context for absolute positioning of stars */
}

.star {
    position: absolute;
    transition: transform 0.3s ease; /* Add transition for smooth animation */
    animation: blink 1.5s infinite; /* Add blink effect */
}

.star:hover {
    transform: scale(1.1); /* Scale effect on hover */
}

/* Define the blinking animation */
@keyframes blink {
    0%, 100% {
        opacity: 0.5; /* Start and end with lower opacity */
    }
    50% {
        opacity: 1; /* Full opacity in the middle */
    }
}

.click-me-text {
    color: white;
    text-align: center;
    font-size: 12px; /* Adjust font size as necessary */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
