.App {
  text-align: center;
}

.star-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.star {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.click-me-text {
  position: absolute;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
